/* header and title stylings */

#page-title {
  margin: 0px;
  padding: 10px 0px 10px 0px;
  flex-grow: 1;

  font-size: 2.5em;
  text-transform: uppercase;
  text-align: center;
}

#page-title a {
  background-color: rgba(255, 255, 255, 0.4);
  border-radius: 0px 0px 15px 15px;
  padding: 10px;
  margin: 30px;
  text-decoration: none;
  color: black;
}

#blog-title {
  border-radius: 15px 15px 15px 15px;
  padding: 10px;
  margin: 0px;
  text-decoration: none;
  color: black;
}

header {
  /* background-color: #ffffb5; */
  background-image: url('../img/hero.webp');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: rgb(0, 0, 0);
  margin: 0px;
  padding: 0px;
  min-height: 200px;

  display: flex;
  flex-direction: column;
}

.blog-header {
  flex-direction: row;
  justify-content: space-between;
  align-content: center;
  background-color: rgb(183, 235, 255, 0.4);
  background-image: none;
  align-items: center;
  min-height: auto;
}

nav {
  background-color: rgb(0, 0, 0, 0.6);
  border-top-style: solid;
  border-bottom-style: solid;
  border-color: rgb(37, 37, 37);
  padding: 5px;
}

#menu-bar {
  display: flex;
  justify-content:center;
}

.menu-item a {
  padding: 10px 15px 10px 15px;
  color: white;
  text-decoration: none;
  font-size: 1.15em;
  text-transform: uppercase;
}

.back-link a {
  background-color: rgba(255, 255, 255, 0.6);
  border-radius: 15px 15px 15px 15px;
  padding: 10px;
  margin: 10px;
  text-decoration: none;
  text-transform: uppercase;
  color: black;
}

#publish-date {
  background-color: rgba(255, 255, 255, 0.6);
  border-radius: 15px 15px 15px 15px;
  padding: 10px;
  margin: 10px;
  text-decoration: none;
  color: black;
}

/* body and content */

body {
  text-align: center;
  margin: 0px;
  padding: 0px;
}

#content {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-self: center;
  max-width: 1200px;
  width: 80%;
  margin: 0px auto 0px auto;
  padding: 5px;
}

#blog-content {
  text-align: left;
  max-width: 1200px;
  width: 80%;
  margin: 0px auto 0px auto;
  padding: 5px;
}

/* contact form */

.contact-form {
  width: 50%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

#message-text {
  width: 100%;
  height: 150px;
}

/* lists */

dl {
  display: flex;
  flex-flow: wrap;
}

dt {
  text-decoration: underline;
  font-weight: bold;
  flex-basis: 30%;
  text-align: right;
  margin: 5px 10px 5px 10px;
}

dd {
  flex-basis: 60%;
  flex-grow: 1;
  text-align: left;
  margin: 5px 10px 5px 10px;
}
